* {
    padding: 0;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    position: relative;
}

input {
    outline: none;
}

#root {
    height: 90vh;
    position: relative;
    padding-top: 56px;
}